[Unit]
Description=acsync
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/opt/acsync/acsync.init start
ExecStop=/opt/acsync/acsync.init stop

[Install]
WantedBy=multi-user.target
